{% extends "base.njk" %}

{% block main %}
  <form method="post">

    <input type="hidden" name="spam" placeholder="Name">

    <label>
      <span>First Name</span>
      <input type="text" name="first-name" placeholder="Name">
    </label>

    <label>
      <span>Email address</span>
      <input type="email" name="email" placeholder="Name">
    </label>

    <label>
      <span>Message</span>
      <textarea name="message"></textarea>
    </label>

    <button type="submit">Submit form</button>

  </form>
{% endblock %}