{% extends "base.njk" %}

{% block main %}
  <h1 class="something">{{title}}</h1>
  <h2>
    {{nested.variable}}
  </h2>

  {# Conditional Statement #}
  <p>
    {% if numUsers < 5 %} 
        Num users is less than 5 
      {% else  %} 
        Num users is more than 5 
      {% endif %}
  </p>

  {# Loops #}
  <ul>
    {% for fruit in fruitsBasket %}
      <li>{{fruit}}</li>
    {% endfor %}
  </ul>
{% endblock %}